 body{
  background: rgb(70, 142, 236);
  font: normal, 15pt arial;
  
}
header{
  color: white;
  text-align: center;
}
section{
  background: white;
  margin: auto;
  border-radius: 10px;
  width: 500px;
  padding: 25px;
  text-align: center;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.267);
}

footer{
  padding-top:20px;
  text-align: center;
  color: white;
} 
